* {
    margin: 0;
    padding: 0;
}

.titulo-1 {
    font-size: 40px;

}

.curiosidades {
    width: 70%;
    font-size: 22px;
    text-align: center;
}
@font-face {
    font-family: akronim-regular;
    src: url(../fonts/akronim-regular.ttf);
}

@font-face {
    font-family: actor-regular;
    src: url(../fonts/actor-regular.ttf);
}

#barra-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    background: 2px 20px rgba(193, 188, 255, 0.671);
}

#barra-menu li {
    margin: 0;
    padding: 0;
    width: 100%;
}

#barra-menu a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #000000; /* Cambiado a color de texto negro */
    padding: 10px 20px;
    display: block;
}

@media (min-width: 768px) {
    #barra-menu {
        flex-direction: row;
        justify-content: center; /* Cambiado al centro para tabletas y computadoras */
    }

    #barra-menu li {
        width: auto;
        margin-right: 25px;
    }
}


.titulo-h3 {
    padding: 10px;
    width: 500px;
    font-weight: bold;
}


.contenedor {
    position: relative;
}


#main-index {   
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgba(193, 188, 255, 0.671), #ff190000) center
}

.imagen-fondo-derecha {

    display: flex;
    justify-content: center;
    z-index: 0; /* Colocar la imagen detrás del texto */
}

.imagen-fondo-derecha-biografia {
    max-width: 100%;
    height: auto;
    position: absolute;
    right: 100px;
    transform: translateX(42%);
    top: 250px;
    filter: blur(22px);
    z-index: -8;
}

.galeria-1 {    
    max-width: 35rem;
    position: absolute;
    left: 1.5rem;
    top: 10rem;
}

.galeria-2 {    
    max-width: 35rem;
    position: absolute;
    top: 52.5rem;
    left: 1.5rem;
    margin-bottom: 10px;
}

.galeria-3 {    
    max-width: 35rem;
    position: absolute;
    top: 60.7rem;
    right: 1.5rem;
    margin-bottom: 10px;
}

.galeria-4 {    
    max-width: 35rem;
    position: absolute;
    top: 10rem;
    right: 1.5rem;
} 

#parrafos {  
        font-family: actor-regular;
        text-shadow: 0px 1px 3px whitesmoke;
        display: grid;
        height: 90%;
        justify-content: center;
        color: #000000;
        font-size: 25px;
        z-index: 2;
}

.padre-discos {
    position: relative;
    top: 10rem;
    left: 18rem;
}

#redes-sociales {   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.redes-sociales-hijo {  
    padding: 10px;
    text-align: center;
    font-size: 1.5rem
    fot
}


h1 {
    padding: 40px;
    width: 100px;
    font-weight: bold;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(128, 52, 105, 0.829), rgba(193, 188, 255, 0.671)) top
}

.pie-de-pagina {    
    width: 45%;
}

ul {
    list-style: none;
}

body {
    font-family: "actor-regular", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: #9b287b;
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */

}

/* Media query para dispositivos con un ancho máximo de 767px (para dispositivos móviles) */
@media (max-width: 767px) {
    /* ...otros estilos... */
    body {
        overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
    }

    .imagen-fondo-derecha {
        max-width: 100%; /* Reducir el ancho del contenedor de la imagen */
    }

    .imagen-fondo-derecha img {

        display: flex;
        justify-content: center;
        align-items: center;     
    }

    .curiosidades {
        width: 100%; /* Ancho completo */
        font-size: auto; /* Tamaño de fuente más pequeño */

    }
}